/* src/components/Menu.css */
.menu-container {
    display: flex;
    justify-content: space-between;
  }
  
  .menu-column {
    display: flex;
    flex-direction: column;
  }
  
  .menu-link {
    display: block;
    background-color: rgb(197, 99, 115); 
    color: white; 
    text-align: center;
    padding: 20px 0px;
    /* padding: 0 auto; */
    margin: 10px 0;
    /* margin: 0 auto; */
    text-decoration: none;
    border-radius: 5px; 
    width: 9em;
    height:5em;
  }
  